<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<!-- 激活利用注解进行装配 -->
	<context:annotation-config />
	<!-- 指定数据库的配置文件 -->
	<bean id="propertiesConfig" 
	class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:conf/sqlmap/jdbc.properties</value>
		</property>
	</bean>
	
	<!-- 指定数据库事务操作的XML -->
	<bean id="sqlMapClient" 
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:conf/sqlmap/sqlmap-config.xml</value>
		</property>
	</bean>

	<!-- 加载数据配置  start-->
	<!--  questionnaire_db  start-->
	<bean id="questionnaire_db"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${JDBC.Driver}</value>
		</property>
		<property name="url">
			<value>${JDBC.questionnaireConnectionURL}</value>
		</property>
		<property name="username">
			<value>${JDBC.questionnaireUsername}</value>
		</property>
		<property name="password">
			<value>${JDBC.questionnairePassword}</value>
		</property>
	</bean>
	<!-- questionnaire_db  end -->
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${JDBC.Driver}</value>
		</property>
		<property name="url">
			<value>${JDBC.ConnectionURL}</value>
		</property>
		<property name="username">
			<value>${JDBC.Username}</value>
		</property>
		<property name="password">
			<value>${JDBC.Password}</value>
		</property>
	</bean>
	
	<bean id="dataSourceMst" 
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" >
		<property name="driverClass">
			<value>${JDBC.Driver}</value>
		</property>
		<property name="jdbcUrl">
			<value>${JDBC.mstConnectionURL}</value>
		</property>
		<property name="user">
			<value>${JDBC.mstUsername}</value>
		</property>
		<property name="password">
			<value>${JDBC.mstPassword}</value>
		</property>
		<property name="autoCommitOnClose" value="true" />
		<property name="checkoutTimeout"
			value="${JDBC.checkoutTimeout}" />
		<property name="initialPoolSize" value="${JDBC.minPoolSize}" />
		<property name="minPoolSize" value="${JDBC.minPoolSize}" />
		<property name="maxPoolSize" value="${JDBC.maxPoolSize}" />
		<property name="maxIdleTime" value="${JDBC.maxIdleTime}" />
		<property name="acquireIncrement"
			value="${JDBC.acquireIncrement}" />
		<property name="maxIdleTimeExcessConnections"
			value="${JDBC.maxIdleTimeExcessConnections}" />
		<property name="numHelperThreads" value="${JDBC.numHelperThreads}"/> 
	</bean>
	
	
	<bean id="dataSourceImage"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${JDBC.Driver}</value>
		</property>
		<property name="url">
			<value>${JDBC.imageConnectionURL}</value>
		</property>
		<property name="username">
			<value>${JDBC.imageUsername}</value>
		</property>
		<property name="password">
			<value>${JDBC.imagelPassword}</value>
		</property>
	</bean>	
	
	<!-- 加载数据配置  end-->
	<import resource="conf/spring/beans-service.xml" />
	<import resource="conf/spring/beans-dao.xml" />
</beans>